:root {
  --primary-blue: #6cb4eb;
  --primary-text: #1c1a1a;
  --primary-bg-selected: #244c6b;
  --primary-tx-selected: #ece0e0;
}

html {
  scroll-padding-top: 5ch;
}

body {
  margin: 5ch auto auto auto;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.6;
}

main,
footer {
  padding: 0 20px;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--primary-blue);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--primary-bg-selected);
}

#navbar li {
  float: left;
}

li a {
  display: block;
  padding: 1ch 1em;
  color: var(--primary-text);
  text-decoration: none;
  transition: background-color 1s;
}

li a:hover {
  background-color: var(--primary-bg-selected);
  color: var(--primary-tx-selected);
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

h1 {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-start {
  display: flex;
  overflow: auto;
}

.item {
  width: 100%;
  min-width: 250px;
  background-color: var(--primary-blue);
  box-shadow: 5px 5px 5px var(--primary-bg-selected);
  border-radius: 12px;
  margin: 1rem;
  padding: 1rem;
  overflow: auto;
}

figure {
  flex-basis: 300px;
  max-width: 100%;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-direction: alternate;
}
figure img {
  max-width: 100%;
  max-height: 300px;
}

#intro {
  flex-basis: calc(100% - 300px);
  max-width: 100%;
}

@media screen and (max-width: 640px) {
  #navbar li {
    float: none;
  }
  html {
    scroll-padding-top: 24ch;
  }
  body {
    margin: 20ch auto auto auto;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  #intro {
    flex-basis: 100%;
  }

  .flex-container-start {
    display: flex;
    flex-wrap: wrap;
  }
}
