:root {
  --primary-blue: #6cb4eb;
  --primary-text: #1c1a1a;
  --primary-bg-selected: #244c6b;
  --primary-tx-selected: #ece0e0;
}

html {
  scroll-padding-top: 5ch;
}

body {
  margin: 5ch auto;
  font-family: "Noto Sans", sans-serif;
}

main {
  padding: 0 20px;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--primary-blue);
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar li {
  float: left;
}

li a {
  display: block;
  padding: 1ch 1em;
  color: var(--primary-text);
  text-decoration: none;
  transition: background-color 1s;
}

li a:hover {
  background-color: var(--primary-bg-selected);
  color: var(--primary-tx-selected);
}

@keyframes shake {
  0% {
    transform: skewX(0deg);
  }
  25% {
    transform: skewX(25deg);
  }
  50% {
    transform: skewX(-25deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

h1 {
  text-align: center;
  animation-name: shake;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */
  animation-direction: alternate;
}

figure {
  flex-basis: 200px;
  max-width: 100%;
}
figure img {
  max-width: 100%;
  max-height: 200px;
}

.flex-container {
  display: flex;
}

#intro {
  flex-basis: calc(100% - 200px);
  max-width: 100%;
}

@media screen and (max-width: 640px) {
  #navbar li {
    float: none;
  }
  html {
    scroll-padding-top: 20ch;
  }
  body {
    margin: 20ch auto;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  #intro {
    flex-basis: 100%;
  }
}
